%section.section.hero{:'data-speed' => "3", :'data-type' => "background"}
	.container
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%h1.jumbo-text
							Support Our Cause
						%h4.primary-text-color.bold-font-name
							100% of your donations go directly to supporting long term solutions
						%a.down-arrow{:href=>"#donate"}
							%i.icon-circle-arrow-down