%section.donate_infographic#donate
	.container
		.row
			.col-lg-12
				.row
					.col-lg-2
					.col-lg-8
						.text-center.double-margin-bottom
							.row
								%h2
									How the money will be used
								%p
									Proin laoreet sem vitae dolor tristique fermentum. Sed faucibus elit id libero rhoncus, vitae bibendum nibh scelerisque. Aliquam nec nulla mi.Proin laoreet sem vitae dolor tristique fermentum. Sed faucibus elit id libero rhoncus, vitae bibendum nibh scelerisque. Aliquam nec nulla mi.
					.col-lg-2
				.row
					.col-lg-2
					.col-lg-8
						%ul.list-inline.donate_infographic_blocks
							%li.padded
								%h2
									Mobilization
								%p
									Proin laoreet sem vitae dolor tristique fermentum. Sed faucibus elit id libero rhoncus, vitae 
							%li.padded
								%h2
									Mobilization
								%p
									Proin laoreet sem vitae dolor tristique fermentum. Sed faucibus elit id libero rhoncus, vitae 
							%li.padded
								%h2
									Mobilization
								%p
									Proin laoreet sem vitae dolor tristique fermentum. Sed faucibus elit id libero rhoncus, vitae 
							%li.padded
								%h2
									Mobilization
								%p
									Proin laoreet sem vitae dolor tristique fermentum. Sed faucibus elit id libero rhoncus, vitae 
					.col-lg-2


