%footer
	.container
		.row
			.col-lg-4
			.col-lg-4
				%p.text-center
					Copyright © 2013 Outflow
			.col-lg-4
				.social-icons.text-center
					%ul.inline
						%li
							%a{:href=>"#"}
								f
						%li
							%a{:href=>"#"}
								t