%section.section.hero{:'data-speed' => "3", :'data-type' => "background"}
	.container
		.row
			.col-lg-2
			.col-lg-8
				.double-margin-top
					.text-center
						%h1.jumbo-text.no-margin-bottom
							A New Approach to
							Collaboration in Cities.
						%h4.primary-text-color.bold-font-name
							Subtext. Quisque lobortis ligula vel placerat consectetur nunc.
						%a.down-arrow{:href=>"#about"}
							%i.icon-circle-arrow-down
			.col-lg-2