%section.hero
	.container
		.row
			.col-lg-12
				.double-margin-top
					.text-center
						%h1.jumbo-text.no-margin-bottom
							A New Approach to
							%br 
							collaboration in cities.
						%h4.primary-text-color.bold-font-name
							Subtext. Quisque lobortis ligula vel placerat consectetur nunc. 
						%a.down-arrow{:href=>"#about"}
							%i.icon-circle-arrow-down