%section#about
	.container
		.row
			.col-lg-12
				.row
					-3.times do
						.col-lg-4
							.text-center.padded
								=image_tag('home_icon_1.png', :width=>"140", :class=>"margin-bottom")
								%h3
									Power to 
									%br
									Grow
								%p
									Cras ac elementum tortor, id interdum diam. Proin convallis est erat, pharetra feugiat ligula gravida sed. Suspendisse eu 