%section.section.mission#mission{:'data-speed' => "3", :'data-type' => "background"}
	.container
		.row
			.col-lg-12
				.row
					.col-lg-1
					.col-lg-10
						.text-center
							=image_tag('mark.png', :class=>"margin-bottom", :width=>"135") 
							%h1.jumbo-text
								Our Mission
							%a.btn.btn-primary.btn-lg.margin-bottom{:href=>"donate.html"}
								Give to Our Cause
							%p.extra-bold-font-name.lead
								Cras ac elementum tortor, id interdum diam. 
								%span.primary-text-color
									Proin convallis est erat 
							%p
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget imperdiet augue. Praesent non egestas massa, in facilisis erat. Mauris in orci nec tellus mattis volutpat nec id magna. Vestibulum 
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget imperdiet augue. Praesent non egestas massa, in facilisis erat. Mauris in orci nec tellus mattis volutpat nec id magna. Vestibulum 
							%a.down-arrow{:href=>"#stats"}
								%i.icon-circle-arrow-down
					.col-lg-1
