%section.stats#stats
	.container
		.row
			.col-lg-12
				-2.times do
					.row.double-margin-bottom
						-2.times do
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.margin-bottom
								.row
									.stat
										.col-xs-6.col-sm-6.col-md-6.col-lg-6
											=image_tag('stat_circ.png')
										.col-xs-6.col-sm-6.col-md-6.col-lg-6
											%h3.margin-top
												Companies
											%p.lead.primary-text-color
												&nbsp; providing 
												%br
												&nbsp; &nbsp; chairity not 
												%br
												&nbsp; &nbsp; &nbsp;choice
